{% extends 'page_web/base.html' %}

{% block title %}Список материалов{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Список материалов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Единица измерения</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
            <tr>
                <td>{{ material.name }}</td>
                <td>{{ material.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}