{% extends 'page_web/base.html' %}

{% block title %}Список составов продуктов{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Список составов продуктов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Материал</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for pm in product_materials %}
            <tr>
                <td>{{ pm.product }}</td>
                <td>{{ pm.material }}</td>
                <td>{{ pm.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}