{% extends 'page_web/base.html' %}

{% block content %}
<div class="main-container">
    <div class="container">
        <h1>Выпуск продукции</h1>

        <!-- Форма для выбора партии и добавления количества -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Выпустить</button>
        </form>

        {% if error %}
        <div class="alert alert-danger mt-3">
            {{ error }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}