{% extends 'page_web/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Проверка поступлений</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Линия</th>
                <th>Номер партии</th>
                <th>Дата производства</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
            <tr>
                <td>{{ batch.product.name }}</td>
                <td>{{ batch.line.name }}</td>
                <td>{{ batch.batch_number }}</td>
                <td>{{ batch.production_date }}</td>
                <td>{{ batch.quantity }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Нет данных о поступлениях.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}