{% extends 'page_web/base.html' %}

{% block title %}Список контрагентов{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Список контрагентов</h1>
    <a href="{% url 'create_counterparty' %}" class="btn btn-primary mb-3">Создать контрагента</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Контактный номер</th>
            </tr>
        </thead>
        <tbody>
            {% for counterparty in counterparties %}
            <tr>
                <td>{{ counterparty.name }}</td>
                <td>{{ counterparty.address }}</td>
                <td>{{ counterparty.contact_number }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Нет данных о контрагентах.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}