{% extends 'page_web/base.html' %}

{% block content %}
<div class="main-container">
    <div class="container">
        <h1>Добавить количество к партии</h1>

        <!-- Проверка на наличие ошибок -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Форма для добавления количества -->
        <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}